@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
:root {
    --fontFamily: 'Roboto Condensed', sans-serif;
    --fontSize: 16px;
    --red: #e62429;
    --gray: #202020;
    --transition: .4s ease;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    letter-spacing: 1px;
    color: #fff;
    line-height: 2;
    background-color: var(--gray);

}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.container::after {
    display: block;
    clear: both;
    content: "";
}
ul {
    list-style: none;
}
a {
    color: var(--white) !important;
    text-decoration: none;
    
}
header {    
    background-image: url("photos_space_infrared_PIA21073.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;       
}
nav {
    padding: 20px 0;
}
nav .logo{
    float: left;
}
nav ul {
    float: right;    
}
nav a:hover {
    color: gray !important;
    transition: var(--transition);
    transform: scale(1.1);
    display: block;
    text-decoration: none;
}
nav ul li{
    text-decoration: none;
    float: left;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0 30px;
    
}
nav ul li:last-child {
    margin-right: 0;
    
}
hgroup {
    text-align: center;
    padding: 90px 0 140px 0px;
    
}
hgroup h1 {
    font-size: 4rem;
    color: var(--white);
    font-weight: bolder;
}
hgroup h4 {
    font-size: 1.45rem;
    color: rgb(201, 184, 184);
    font-weight: bolder;
}
.drugiDio {
    /* border-top: 1px solid #6e3032;
    border-bottom: 1px solid #6e3032; */
    display: flex;
    color: rgb(223, 202, 202);
    align-items: center;
    justify-content: space-between;
    height: 50vh;

}
.drugiDio article:nth-child(1){
    width: 40%;
    /* border-right: 1px solid #6e3032; */
    margin-right: 40px;
}
.drugiDio article:nth-child(2){
    width: 40%;
    /* border-right: 1px solid #6e3032; */
    margin-right: 40px;
}
.drugiDio article:nth-child(3){
    width: 40%;
    margin-right: 0;
}
.drugiDio h2 {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;

}
button {
    padding: 10px 15px;
    background: var(--red);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bolder;
    transition: var(--transition);
    border-radius: 30px;
}
button:hover {
    background: black ;
}
.carousel {
    z-index: 0;
    position: relative;
    width:70%;
    margin: 0 auto;
}
.carousel-inner{
    height: 500px;
}

.slova{
    font-size: 22px;
    background:none;
    color: white;
    text-align: center;
    font-weight: bolder;
}
.carousel-caption{
    background:rgba(44, 43, 43, 0.5);
}
.carousel-indicators{
    background: none;
}
#comingSoon {
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 22px;
    padding: 20px 0 20px 200px;
}
/* .carousel-item h5, h7{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
} */
footer {
    background-color:rgb(49, 47, 47);
    padding: 20px 0;
    color: white;
}
/* footer ul li{
    text-decoration: none;
    float: left;
}
#drugi { 
} */
#treci {
    text-align: center;    
}
#treci p span{
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 20px;
    margin: 0 20px;
}
